/* Estilos generales */
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body {
    background-image: url('https://wallpapers.com/images/hd/elden-ring-fiery-gold-symbol-7j11znskboyqp9ab.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Encabezado */
header {
    display: flex;
    align-items: center;
    padding: 10px;
    opacity: 80%;
    background-color: #000000;
    border-bottom: 1px solid #000000;
}

.header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.header nav {
    margin-left: auto;
    padding: 10px;
}

/* Título principal */
h1 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

/* Contenido */
.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 45%;
    background-color: #333; 
    opacity: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #ffffff;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    border-top: 1px solid #000000;
    opacity: 80%;
    width: 100%;
}

.footer a {
    color: #333;
    text-decoration: none;
}

