* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

a {
    text-decoration: none;
}

img {
    width: 6rem;
}

.cabecera {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 4rem;

    background-color: aquamarine;
}

.cabecera__logo {
    width: 6rem;
}

.cabecera__zona {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.formulario__boton {
    padding: 0.3 rem 0.5rem;
    border: solid purple 0.1rem;

    color: mistyrose;
    background: purple;
}

.formulario__boton:hover {
    color: purple;
    background: mistyrose;

    cursor: ;

    transition: all ease 0.5s;
}

.zona__menu {

    display: flex;
    gap: 1rem;
    
    list-style: none;
}

.menu__enlace {

    font-size: 1.2rem;

    color: purple;

}